.btns-container {
  width: 200px;
  background-color: #eee;
  margin: 15px auto;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.btns-container .plus,
.btns-container .minus {
  background-color: yellow;
  margin: 0 5px;
  border-style: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.btns-container span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
